---

---

<section class="container" id="workshops">
  <header>
    <h2><span>Workshops</span></h2>
    <p>
      These workshops offer hands-on introductions to creative technologies,
      empowering artists, designers, and musicians to explore digital tools as
      expressive, interactive mediums.
    </p>
  </header>
  <ul>
    <li>##WORKSHOP##</li>
  </ul>
</section>

<style>
  ul {
    display: flex;
    flex-flow: column;
    gap: var(--sp-m);
  }

  li:nth-child(3n + 1) {
    --card-theme: grey;
  }
  li:nth-child(3n + 2) {
    --card-theme: green;
  }
  li:nth-child(3n + 3) {
    --card-theme: black;
  }
</style>
