---
import { Image } from "astro:assets";
import ArrowLink from "./ArrowLink.astro";
---

<article>
  <div>
    <h3><span>{##TITLE##}</span></h3>
    <ArrowLink
      class="link"
      href={`/workshops/${##SLUG##}`}
      title="Learn more"
    />
    <Image class="image" src={##IMAGE##} alt="" />
  </div>
</article>

<style>
  article {
    --arrow-color-front: var(--color-primary);
    --arrow-color-black: var(--color-text);
    --arrow-color-text: var(--color-text);
    background-color: var(--color-grey);

    border: solid 2px var(--color-text);
    border-bottom-width: 8px;
    border-radius: var(--br-l);

    padding: var(--sp-xl);
    container-type: inline-size;
    container-name: card;
  }

  div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "img"
      "link";
    gap: var(--sp-xs);
  }

  h3 {
    grid-area: title;
    justify-self: start;
    align-self: start;
    text-align: left;
  }

  .link {
    grid-area: link;
  }

  .image {
    grid-area: img;
    align-self: center;
    justify-self: end;
    height: 15rem;
    width: auto;
    aspect-ratio: 1;
  }

  @container card (min-width: 30rem) {
    div {
      grid-template-areas:
        "title img"
        "link img";
    }
  }

  @container style(--card-theme:green) {
    article {
      background-color: var(--color-primary);
    }

    h3 span {
      background-color: var(--color-white);
    }
  }

  @container style(--card-theme:black) {
    article {
      --arrow-color-front: var(--color-text);
      --arrow-color-black: var(--color-white);
      --arrow-color-text: var(--color-white);
      background-color: var(--color-black);
    }

    h3 span {
      background-color: white;
    }
  }
</style>
